.l-site-footer{
    background-color: $footer-bg-color;
    color: $footer-text-color;
    //font-weight: bold;

    ul{
        list-style: none;
        font-size: 1.3rem;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        text-align: center;
        li{
            padding: 1em;
            i{
                margin-right: 5px;
            }
        }
    }
    a:link, a:visited{
        color: $footer-text-color;
        text-decoration: none;
        span{
            display: none;
        }
    }
    a:active{
        color: #333;
    }
}


/* Large screen (992px and up) */
@media only screen and (min-width: 992px) {
    .l-site-footer {
        a:link{
            span{
                display: unset;
            }
        }
    }
}