html{

}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.l-site-header{
    position: fixed;
    left: 0;
    right: 0;
}
.l-site-content{
    flex: 1;
}

// Send navigation to the bottom of the page
.l-main-nav{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    order:2;
}

