.l-site-header{
    color: $header-text-color;
    background-color: $header-bg-color;
    /*display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    height: 40px;*/

    h1{
        margin: 0;
        padding: 0;
        order: 2;
        font-size: 1.8em;
    }
    .fa-search{
        order: 1;
    }
    .fa-user{
        order: 3;
    }
    i{
        font-size: 1.5rem;
    }

}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
