.l-main-nav{
    a:link, a:visited, a{
        padding: 0.5em;
        text-decoration: none;
        display: block;
        color: #fff;
        font-weight: bold;
    }
    a:active{
        color: #666;
    }
    ul{
        background-color: $main-nav-bg-color;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;

        li{
            background-color: $main-nav-bg-color;
            text-align: center;
            font-size: 0.7rem;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 7em;
            margin: 0 8px;
            a.active{
                color: $main-nav-link-color;
            }
            i{
                font-size: 1.8rem;
                display: block;
                margin: 3px;
            }

        }
    }

}