/***************************************************/
/***************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
html {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

html {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-site-header {
  position: fixed;
  left: 0;
  right: 0;
}

.l-site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.l-main-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.l-site-header {
  color: #ffF;
  background-color: #000;
  /*display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  height: 40px;*/
}
.l-site-header h1 {
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 1.8em;
}
.l-site-header .fa-search {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.l-site-header .fa-user {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.l-site-header i {
  font-size: 1.5rem;
}

.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.l-site-footer {
  background-color: #F1F1F2;
  color: #517196;
}
.l-site-footer ul {
  list-style: none;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.l-site-footer ul li {
  padding: 1em;
}
.l-site-footer ul li i {
  margin-right: 5px;
}
.l-site-footer a:link, .l-site-footer a:visited {
  color: #517196;
  text-decoration: none;
}
.l-site-footer a:link span, .l-site-footer a:visited span {
  display: none;
}
.l-site-footer a:active {
  color: #333;
}

/* Large screen (992px and up) */
@media only screen and (min-width: 992px) {
  .l-site-footer a:link span {
    display: unset;
  }
}
.l-main-nav a:link, .l-main-nav a:visited, .l-main-nav a {
  padding: 0.5em;
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: bold;
}
.l-main-nav a:active {
  color: #666;
}
.l-main-nav ul {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.l-main-nav ul li {
  background-color: #000;
  text-align: center;
  font-size: 0.7rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 7em;
      flex-basis: 7em;
  margin: 0 8px;
}
.l-main-nav ul li a.active {
  color: #A0CDF0;
}
.l-main-nav ul li i {
  font-size: 1.8rem;
  display: block;
  margin: 3px;
}

/*# sourceMappingURL=main.css.map */