// Main colors
$main-bg-color: #000;

// Header colors
$header-bg-color: $main-bg-color;
$header-text-color: #ffF;

// Content colors

// Nav colors
$main-nav-bg-color: $main-bg-color;
$main-nav-text-color: #fff;
$main-nav-link-color: #A0CDF0;

// Footer colors
$footer-bg-color: #F1F1F2;
$footer-text-color: #517196;
